main {
  width: 450px;
  margin: 30px;
  padding: 20px;
  background-color: #c5eaf2;
}

h1 {
  color: #163138;
  font-family: "Paytone One", sans-serif;
  font-weight: bold;
  font-style: normal;
}
h2,
h3 {
  color: #163138;
  color: #163138;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  color: #234f59;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}
img {
  width: 350px;
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  border-radius: 5px;
  text-align: center;
}
figure {
  text-align: left;
}
figcaption {
  font-style: italic;
  margin-top: 5px;
  font-weight: 300;
  font-size: 12px;
}
p {
  line-height: 1.5;
  text-align: left;
}
dl {
  margin: 5px;
  padding: 10px;
}
dt {
  font-style: italic;
  font-weight: bold;
}
dd {
  font-style: italic;
  margin-left: 0;
}
a:hover {
  background-color: #e8f8fc;
}
a:visited {
  color: #f09941;
}
ul {
  list-style-type: circle;
}
aside {
  width: 250px;
  background-color: #f8d3ad;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
}
